:root {
    --dark: #021c33;
    --dark-1: #163460;
    --norm: #32558c;
    --light-gradiant: #d1b7ff;
    --light: #fffbee;
}

* {
    box-sizing: border-box;
}

/* Start Global Ruls */
::-webkit-scrollbar-thumb {
    background: #32558c;
    border-radius: 0;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    display: none;
}


body {
    margin: 0;
    background-image: linear-gradient(150deg, var(--light), var(--light-gradiant));
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    font-family: Arial;
}

/* End Global Ruls */

/*  component styling */
/* Start Select */
.custom-select {
    position: relative;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: var(--dark);
    width: 130px;
    padding: 6px 10px;
    outline: none;
    border: 1px solid var(--norm);
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: .3s;

}

.custom-select select:hover {
    background-color: var(--dark);
    color: white;
}

.custom-select::after {
    content: '\f0d7';
    font-family: 'font awesome 6 free';
    font-weight: bold;
    display: block;
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    /* to allow clicking thorgh it to the select */
    pointer-events: none;
    color: var(--dark);
}

.custom-select ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
    top: 0px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    overflow: hidden;
    border: 1px solid var(--norm);
}

.custom-select ul li {
    background-color: white;
    color: var(--dark);
    padding: 8px;
    cursor: pointer;
    transition: .3s;
}

.custom-select ul li:hover {
    background-color: var(--dark);
    color: white;
    padding-left: 12px;
}

/* End Select */
/* Start Button */
.btn {
    width: 130px;
    max-width: 50%;
    font-size: 16px;
    padding: 6px 10px;
    border: 1px solid var(--norm);
    border-radius: 8px;
    color: var(--dark);
    background-color: white;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background-color: var(--dark);
    color: white;
}

/* End Button */
/* Start Input */
.custom-input {
    outline: none;
    width: 130px;
    max-width: 50%;
    font-size: 16px;
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid var(--norm);
    color: var(--dark);
    background-color: white;
    cursor: pointer;
    transition: .3s;
}

.custom-input:focus::placeholder {
    color: transparent;
    transition: .3s;
}

.table-warper::-webkit-scrollbar {
    position: absolute;
    display: none;
    top: 10px
}

/* End  Input  */
/* End Component Styling */

.top {
    margin: 30px auto;
    width: fit-content;
    position: relative;
}

/* Start Table */
.table-warper {
    position: relative;
    max-height: 55vh;
    width: fit-content;
    overflow: auto;
    border-radius: 20px 20px 0 0;
    border-bottom: 1.3px solid var(--dark);
    box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.237);
}
.table-warper::after {
    content: '';
    display: block;
    position: sticky;
    width: 100%;
    height: 15px;
    bottom: 0px;
    z-index: 10;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.227));
}

table {
    font-size: 17px;
    border-collapse: collapse;
    text-align: center;
    overflow: hidden;

}

table th {
    font-weight: bold;
    text-transform: capitalize;
    color: white;
    background-color: #021c33;

}

table tr:nth-child(even) {
    background-color: var(--light);
}

table tr:nth-child(odd) {
    background-color: var(--light-gradiant);
}

table th,
table td {

    padding: 10px 15px;
}

table tr.active {
    border: 2px solid var(--norm);
    font-weight: bold;
}

@media (max-width:768px) {
    table {
        font-size: 13px;
    }

    table td,
    table th {
        padding: 7px 5px;
    }

}
/* end table */
/* Start tools */
.top .tools {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10px;
    right: 0;
    transform: translateX(100%);
    padding-left: 10px;
    gap: 10px;
}

.top .tools .btn {
    width: 50px;
    height: 50px;
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    position: relative;

}

@media (min-width:992px) {

    .top .tools .btn::after {
        content: '';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 0;
        height: 24px;
        border-radius: 0 10px 10px 0;
        position: absolute;
        background-color: var(--dark);
        color: transparent;
        overflow: hidden;
        top: 50%;
        transform: translate(95%, -50%);
        right: 0px;
        z-index: -1;
        transition: .4s .2s, color .1s .4s;
    }

    .top .tools .btn:hover::after {
        content: attr(title);
        color: var(--light);
        width: 160px;
    }

}
/* End tools */
/* Start popup */
.popup{
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.249);
    transition: 1s;

}
.popup .hide{
    display: none;
}
.popup form{
    padding: 20px;
    min-width: 300px;
    padding-top: 40px;
}
.popup form .icon{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    top:-35px ;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid var(--norm);
    border-radius: 50%;
    background-color: var(--light);
    color: var(--dark);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.428);
    font-size: 30px;
}
.popup form h4{
    position: relative;
    margin: 0;
    transform: unset;
    text-align: center;
    margin-bottom: 20px ;
}
.popup form .description{
    text-align: center;
}
.popup form .row:nth-child(9){
    margin-bottom: 0;
}
.popup .close-popup{
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%,-50%);
    font-size: 15px;
    padding: 5px 8px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    background-color: var(--dark);
    box-shadow: 2px 2px 8px black;
    color: white;
}
/* End popup  */
/* start widgets */
.forms {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;

}

form {
    background-color: var(--light);
    flex-basis: 30%;
    max-width: 360px;
    padding: 20px;
    position: relative;
    border-radius: 17px;
    border: 1px solid var(--light-gradiant);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.134);
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

form h4 {
    margin: 0;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    z-index: 1;
    font-size: 20px;
}

form .description {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;
}


form .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

form .row.center {
    justify-content: space-around;
}

form .row.right {
    justify-content: flex-end;
}

form .row:last-child {
    margin-bottom: 0;
}

@media (max-width:768px) {
    .forms {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.hint,
.result {
    padding: 6px 10px;
    font-size: 16px;
}

.result {
    position: relative;
    text-align: center;
    width: 130px;
    max-width: 50%;
    color: var(--dark);
    z-index: 1;
    padding: 6px 10px;
}

.result::before {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background-image: linear-gradient(90deg, var(--light), var(--norm), var(--light));
    z-index: -1
}

.result::after {
    content: '\f148';
    position: absolute;
    font-family: 'font awesome 6 free';
    font-weight: 900;
    top: 50%;
    transform: translateY(-30%) rotate(90deg);
    left: 5px;
    color: var(--dark-1);
}